@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: #3829e0;
    --Very-pale-blue: #f5f7ff;
    --Desaturated-blue: #7280a7;
    --Dark-blue: hsl(223, 47%, 23%);

    --Mobile-width: 375px;
    --Desktop-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Red Hat Display", sans-serif;
}

body {
    background:url(./images/pattern-background-mobile.svg), var(--Pale-blue);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    font-size: 16px;
    color: var(--Desaturated-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10%;
    padding-bottom: 10%; */
    
}

p {
    text-align: center;
    line-height: 1.5;
}

.card {
    background-color: white;
    width: 24rem;
    border-radius: 20px;
    overflow: hidden;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    height: 30%;
}

.container {   
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: stretch;
    padding: 30px;
    padding-top: 0px;
}

.container > * {
    margin: 13px 0px;
}

.title {
    color: var(--Dark-blue);
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}

.plan-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    padding: 20px;
}

.plan-container a{
    color: var(--Bright-blue);
}

.plan-container a:hover {
    opacity: 0.7;
}

.plan-description {
    display: flex;
    flex-direction: column;
    margin-right: 15%;    
}
.plan-description strong {
    color: var(--Dark-blue);
}

button {
    font-weight: 700;
    font-size: large;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.pay-button {
    background-color: var(--Bright-blue);
    color: white;
    box-shadow: 0px 20px 8px 0px var(--Pale-blue);
    margin-bottom: -0.3rem;
}
.pay-button:hover {
    /* background-color: hsl(241, 98%, 76%); */
    opacity: 0.7;
}

.order-button {
    background: none;
    color: var(--Desaturated-blue);
}

.order-button:hover {
    color: var(--Dark-blue);
}

