@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@400;500&display=swap");

:root {
  /* Dark Colors */
  --nord0: #2f3541;
  --nord1: #3c4353;
  --nord2: #444d5f;
  --nord3: #4d576a;

  /* Light Colors */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* Frost Colors for highlighting */
  --nord7: #8fbcbb;
  --nord8: #87bfcf;
  --nord9: #81a1c1;
  --nord10: #5d81ac;

  /* Aurora Colors */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --Mobile-width: 375px;
  --Desktop-width: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "PT Serif", serif;
  color: var(--nord5);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  padding: 40px;
  /* transform: translate(50,50) ; */
  height: 100vh;
}

.container {
  min-height: calc(100vh - 40px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80%;
  border-radius: 2rem;
  overflow: hidden;
}

.left-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--nord0);
  /* border-right: #84fab0;
  border-right-width: 4px; */
  padding: 4rem;
  gap: 2rem;
}

.header h1 {
  /* font-family: "PT", serif; */
  font-size: 2rem;
}

.header p {
  margin-top: 0.5rem;
  opacity: 0.7;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

.form-item label:not(.chechboxLabel) {
  display: inline-block;
  background-color: var(--nord0);
  margin-bottom: 1rem;
  position: absolute;
  padding: 0 1rem;
  transform: translate(30px, -10px);
  font-size: 14px;
}

input[type="email"],
input[type="password"] {
  /* background-color: var(--nord0); */
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color:  var(--nord8);
  border-radius: 5rem;
  height: 3rem;
  padding: 0 2rem;
  width: 100%;  
  outline: none;
  transition: backgroud 5s;
  font-size: larger;
  color: var(--nord6);
}

input[type="checkbox"] {
  accent-color: var(--nord8);
}

.login-form button {
  background: linear-gradient(120deg, #65d6a2 0%, #5ab4cd 100%);
  color: var(--nord6);
  text-transform: uppercase;
  font-size: larger;
  /* font-weight: bold; */
  border-radius: 5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.right-login {
  background-color: var(--nord0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 4rem; */
  /* overflow: hidden; */
  /* border: red; */
}

.right-login img {
  /* border-radius: 11% 89% 22% 78% / 93% 11% 89% 7%; */
  border-radius: 1rem;
  width: 60%;
  height: 80%;
  opacity: 40%;
  object-fit: cover;
}

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: rotate-vert-center 4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-2 22:24:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
